@{
    Layout = null;
}
<section class="content-header">
    <h1>
        Service
        <small>adding new event service information</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("#")"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-6 col-sm-8">
                    <div class="form-group">
                        <label class="col-form-label">Service Name EN</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control" id="eventSetupEN">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Service Name AR</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control" id="eventSetupAR">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" id="btnSave" value="submit" class="btn btn-primary"><i class="fa fa-plus"></i> EVENT SETUP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>