<section class="content">
    <div id="dvLoader" class="LoadingDiv" style="display: none; margin-top:150px;margin-top:50px;">
        <center>
            <img src="~/Content/img/ajax-loader.gif" alt="Loading" />
        </center>
    </div>
    <div class="row">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Client Payment</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#firstTab">Index</a></li>
                    <li><a data-toggle="tab" href="#secondTab">Add New</a></li>
                </ul>
                <div class="tab-content">
                    <div id="firstTab" class="tab-pane fade in active">@Html.Action("ClientPayments")</div>
                    <div id="secondTab" class="tab-pane fade in">@Html.Action("AddClientPayment")</div>
                </div>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.col -->

    </div>
</section>

@section Scripts{
    <script src="~/Content/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('#paymentDate').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
            $(function () {
                $('#paymentType').change(function () {
                    var id = $('#paymentType').val();
                    if (id == 2) {
                        $('#bank').show();
                        $('#name').show();
                        $('#note').show();
                    } else {
                        $('#bank').hide();
                        $('#name').hide();
                        $('#note').hide();
                    }
                });
            });
            $("#btnSubmit").click(function () {
                var clientId = $("#clientId").val();
                var paymentDate = $("#paymentDate").val();
                var paymentType = $("#paymentType").val();
                var bankId = $("#bankId").val();
                var payeesName = $("#payeesName").val();
                var note = $("#txtNote").val();
                var paymentAmount = $("#paymentAmount").val();
                var description = $("#description").val();
                $("#dvLoader").show();
                $.ajax({
                    url: "/EventManagementData/AddClientPayment",
                    type: "POST",
                    data: JSON.stringify({
                        "ClientId": clientId,
                        "PaymentDate": paymentDate,
                        "PaymentType": paymentType,
                        "BankId": bankId,
                        "PayeesName": payeesName,
                        "Note": note,
                        "PaymentAmount": paymentAmount,
                        "Description": description,
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (json) {
                        if (json.isRedirect) {
                            window.location.href = json.redirectUrl;
                        }
                        //Clear();
                        $('#dvLoader').hide();
                    }
                });
            });
        });
        function Clear() {
            $("#clientId").val('');
            $("#paymentDate").val('');
            $("#paymentType").val('');
            $("#bankId").val('');
            $("#payeesName").val('');
            $("#txtNote").val('');
            $("#paymentAmount").val('');
            $("#description").val('');

        };
    </script>
}