<section class="content">
    <div id="dvLoader" class="LoadingDiv" style="display: none; margin-top:150px;margin-top:50px;">
        <center>
            <img src="~/Content/img/ajax-loader.gif" alt="Loading" />
        </center>
    </div>
    <div class="row">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Expenditure</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#firstTab">Index</a></li>
                    <li><a data-toggle="tab" href="#secondTab">Add New</a></li>
                </ul>
                <div class="tab-content">
                    <div id="firstTab" class="tab-pane fade in active">@Html.Action("Expenditures")</div>
                    <div id="secondTab" class="tab-pane fade in">@Html.Action("AddExpenditure")</div>
                </div>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.col -->

    </div>
</section>

@section Scripts{
    <script src="~/Content/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('#expenditureDate').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
            $("#btnSubmit").click(function () {
                var expenditureHeadId = $("#expenditureHeadId").val();
                var transactionType = $("#transactionType").val();
                var expenditureDate = $("#expenditureDate").val();
                var amount = $("#amount").val();
                var description = $("#description").val();
                $("#dvLoader").show();
                $.ajax({
                    url: "/EventManagementData/AddExpenditure",
                    type: "POST",
                    data: JSON.stringify({
                        "ExpenditureHeadId": expenditureHeadId,
                        "TransactionType": transactionType,
                        "ExpenditureDate": expenditureDate,
                        "Amount": amount,
                        "Description": description
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (json) {
                        if (json.isRedirect) {
                            window.location.href = json.redirectUrl;
                        }
                        Clear();
                        $('#dvLoader').hide();
                    }
                });
            });
        });
        function Clear() {
            $("#expenditureHeadId").val('');
            $("#transactionType").val('');
            $("#expenditureDate").val('');
            $("#amount").val('');
             $("#description").val('');

        };
    </script>
}